<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Hello</title>
    <style>
        * {
            margin: 0;
            }
        .nav {
            height: 50px;
            position: fixed;
            top: 0;
            background-color: burlywood;
            }
        menu {
            width: 20%;
            height: 100%;
            position: fixed;
            left: 0;
            background-color: cornflowerblue;
        
        }

</head>
<body>
    <div class="nav"></div>
    <div class="main"></div>
        <div class="menu"></div>
        <div class="content"></div>
    <h1>{{.}}</h1>
</body>

</html>